body {
  height: 80%;
}

header {
  height: 25%;
  background: url('../images/header.png');
  background-repeat: no-repeat;
  background-position: center;
}

.content-container{
  width: 80%;
  float: right;
  border-left: 1px solid;
  padding: 10px;
  height: 500px;
}

.filter-container {
  float: left;
  width: 17%;
  border: 1px solid;
}

.product-image {
  margin: 10px;
  height: 100px;
  width: 100px;
}

.label {
  margin-right: 15px;
}

.pagination, .sort {
  background-color: white;
  margin: 10px;
  width: 90px;
}

.pagination-bar {
  text-align: center;
  margin-top: 50px;
}

.page {
  border: 1px solid;
  display: inline-block;
  height: 30px;
  width: 40px;
  text-align: center;
}

.highlight {
  background-color: gray;
}

.heading {
  margin-bottom: 2px;
}
