#main-div {
  text-align: center;
  height: 200px;
  width: 50%;
  margin: 0 auto;
  border: 1px black dotted;
}

ul {
  vertical-align: top;
  height: 170px;
  width: 20%;
  display: inline-block;
  border: 1px black solid;
  list-style-type: none;
  padding: 5px;
  margin: 10px;
  text-align: left;
}
